SUPABASE_URL=project url from supabase
SUPABASE_SERVICE_ROLE_KEY=key from supabase
PORT=4000

# AWS S3 Configuration (replace with your actual values)
AWS_S3_BUCKET=ipnl-logos
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
